* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.search_movies input::placeholder {
  color: black;
  opacity: 1;
}

.search_movies input {
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border-bottom: 0px;
  color: black;
}

.circularProgress {
  height: 20px !important;
  width: 20px !important;
}
